
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GenerateRenewalLetter</title>
</head>
<body>
    <div>
              
        <label> @ViewBag.message </label>
    </div>
</body>
</html>
