
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        Click on the button to generate the files :
        <input type="button" title="Generate" value="generate" onclick="location.href='@Url.Action("GenerateRenewalLetter", "GenerateLetter")'" />
    </div>
</body>
</html>
